.carddiv {
    background-color: #a3bac1c2;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    color: #112d35;
    max-width: 300px;
    text-align: center;
    font-size: medium;
}

.imgdiv {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}

.text{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
    